.overlay
    .loading
        .loading-circle
        .loading-avatar
            img(class='nofancybox',src='http://q.qlogo.cn/qqapp/100229475/A26097A2D06A2B606E8EF94CFADAC417/100')
        .loading-info 正在努力加载中...
